.todoHeader {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.filterButtons {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
